# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.turbo
*.tsbuildinfo

# Test
coverage

# Misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Editors
.idea

# ETC
.local